#title{
    background-image: linear-gradient(#0085FF,#000000);
}

.brnd{
    font-family:"Montserrat";
}

.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.login-button{
    background-color: #0085FF;
}

.close-button{
    background-color: #000000;
}


.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 1001;
}


.image{
    height:600px;
}

.body{
    overflow: scroll;
}

      /* Custom styles for the carousel */
      .carousel-container {
        max-width: 800px;
        margin: 0 auto;
        overflow: hidden;
    }

    .carousel-slide {
        display: none;
    }

    .carousel-slide.active {
        display: block;
    }

    .carousel-image {
        max-width: 60%;
        height: auto;
    }

    #prevButton,#nextButton{
        font-family: "Montserrat";
        font-weight: 500;
        font-size:xx-large;
    }



    .carousel-description {
        text-align: center;
        color: #000000;
        font-size:x-large;
        font-family: "Montserrat";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 16px;
    }





#bottom{
    background-image: linear-gradient(#000000,#0085FF);
}




/* Style the FAQ container */
.faq {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

/* Style the questions */
.question {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    cursor: pointer;
}

/* Style the question text */
.question h2 {
    margin: 0;
}

/* Hide the answers by default */
.answer {
    display: none;
}

/* Show answers when questions are clicked */
.question.active .answer {
    display: block;
}
